In [2]:
import pandas as pd

Read the csv file from this url:
'https://drive.google.com/file/d/1P2EyVCFAPeJcQ_lAN2W-bjwtbizOeFXE/view?usp=drive_link'

Name it `sets_df`

In [3]:
# your code here
url = 'https://drive.google.com/file/d/1P2EyVCFAPeJcQ_lAN2W-bjwtbizOeFXE/view?usp=drive_link'
path = 'https://drive.google.com/uc?export=download&id=' + url.split('/')[-2]

sets_df = pd.read_csv(path)

##### Hint

In [4]:
# url = ___________
# path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
# sets_df = pd.read_csv(_______)

#### Exercise 1
Display the basic information about DataFrames `sets_df`  Check the number of rows, columns, data types, and non-null counts.

In [5]:
# your code here
sets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   set_num    1000 non-null   object
 1   name       1000 non-null   object
 2   year       1000 non-null   int64
 3   theme_id   1000 non-null   int64
 4   num_parts  1000 non-null   int64
dtypes: int64(3), object(2)
memory usage: 39.2+ KB

#### Exercise 2
Show the first 5 rows of the DataFrame to get an initial idea about the data. Then show the first 7 instead.

In [6]:
# your code here
sets_df.head()
sets_df.head(7)

,set_num,name,year,theme_id,num_parts
0,TRUFRIENDS-1,Wishing Well,2017,494,33
1,7958-8,Advent Calendar 2011 Star Wars (Day 7) - Tool...,2011,225,9
2,71005-15,Chief Wiggum,2014,550,6
3,6593-1,Blaze Battler,1991,74,126
4,75916-1,Dilophosaurus Ambush,2015,602,246
5,5642-1,Tipper Truck,2009,56,23
6,200A-1,LEGO Town Plan Wooden Board,1957,372,1

#### Exercise 3
Display the summary statistics of the numerical columns in `sets_df`.

In [8]:
# your code here
sets_df.describe()

              year     theme_id    num_parts
count  1000.000000  1000.000000  1000.000000
mean   2002.080000   316.247000   155.721000
std      13.650932   178.049194   289.391601
min    1954.000000     1.000000     0.000000
25%    1997.000000   163.750000     8.000000
50%    2006.000000   333.500000    45.000000
75%    2013.000000   478.000000   171.250000
max    2017.000000   616.000000  2741.000000

#### Exercise 4
Print out a sentence that shows number of rows and columns.  
\
Get the numbers of rows and columns using `.shape`.  
Save the number of columns in a variable `num_cols` and number of rows in a variable `num_rows`.  
Use those variables in your `print()` function.   

The sentence should look like this (the numbers should not be hardcoded - they need to come from the variables):  
**"This dataset has 1000 rows and 5 columns"**

In [ ]:
# your code here

#### Exercise 5
Select the column `year`

In [ ]:
# your code here

#### Exercise 6
Select all unique years from the column `year` using `.unique()`.

In [ ]:
# your code here

#### Exercise 7
Select the earliest year by using `.min()`

In [ ]:
# your code here

#### Exercise 8
Select the latest year by using `.max()`

In [ ]:
# your code here

#### Exercise 9
How many different themes are represented?

In [ ]:
# your code here

#### Exercise 10
What's the largest number of pieces in one set? The smallest?

In [ ]:
# your code here

#### Exercise 11
Select 10 random entries from the DataFrame.

In [ ]:
# your code here

#### Exercise 12
What's the most common number of pieces in a set?

In [ ]:
# your code here

#### Exercise 13
Which five years have the most sets associated with them?

In [ ]:
# your code here

#### Exercise 14
Are all `set_num` values unique? Compare the number of unique `set_num` values to the number of rows in the DataFrame.

In [ ]:
# your code here