In [ ]:
import pandas as pd

Read the csv file from this url:
'https://drive.google.com/file/d/1P2EyVCFAPeJcQ_lAN2W-bjwtbizOeFXE/view?usp=drive_link'

Name it `sets_df`

In [ ]:
# your code here

##### Hint

In [ ]:
# url = ___________
# path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
# sets_df = pd.read_csv(_______)

#### Exercise 1
Display the basic information about DataFrames `sets_df`  Check the number of rows, columns, data types, and non-null counts.

In [ ]:
# your code here

#### Exercise 2
Show the first 5 rows of the DataFrame to get an initial idea about the data. Then show the first 7 instead.

In [ ]:
# your code here

#### Exercise 3
Display the summary statistics of the numerical columns in `sets_df`.

In [ ]:
# your code here

#### Exercise 4
Print out a sentence that shows number of rows and columns.  
\
Get the numbers of rows and columns using `.shape`.  
Save the number of columns in a variable `num_cols` and number of rows in a variable `num_rows`.  
Use those variables in your `print()` function.   

The sentence should look like this (the numbers should not be hardcoded - they need to come from the variables):  
**"This dataset has 1000 rows and 5 columns"**

In [ ]:
# your code here

#### Exercise 5
Select the column `year`

In [ ]:
# your code here

#### Exercise 6
Select all unique years from the column `year` using `.unique()`.

In [ ]:
# your code here

#### Exercise 7
Select the earliest year by using `.min()`

In [ ]:
# your code here

#### Exercise 8
Select the latest year by using `.max()`

In [ ]:
# your code here

#### Exercise 9
How many different themes are represented?

In [ ]:
# your code here

#### Exercise 10
What's the largest number of pieces in one set? The smallest?

In [ ]:
# your code here

#### Exercise 11
Select 10 random entries from the DataFrame.

In [ ]:
# your code here

#### Exercise 12
What's the most common number of pieces in a set?

In [ ]:
# your code here

#### Exercise 13
Which five years have the most sets associated with them?

In [ ]:
# your code here

#### Exercise 14
Are all `set_num` values unique? Compare the number of unique `set_num` values to the number of rows in the DataFrame.

In [ ]:
# your code here