In [1]:
import pandas as pd

Read the csv file from this url:
'https://drive.google.com/file/d/15TuODOc2m-BNeimNi7Hb3-bw7m8OmYQu/view?usp=drive_link'

Name it `sets_df`

In [ ]:
# Your code here

'chocolatepanda'

> Make sure you save the changes by overwriting the original DataFrame:  
e.g. `df = df.drop_duplicates()`

#### Exercise 1
Explore the `sets_df` with `.info()`

In [3]:
# Your code here

#### Exercise 2
Rename the columns:  
s -> set_num  
n -> name  
y -> year  
ti -> theme_id  
np -> num_parts  
q -> qty  

> **Hint:** You can do it either by using `.rename()` method or by setting `.columns` attribute directly to a list of new names.

In [4]:
# Your code here

Review the change

In [5]:
# Your code here

#### Exercise 3
Check if there are any null values in the dataset

In [6]:
# Your code here

#### Exercise 4
There are 6 null values in the `'num_parts'` column.  
Find the mean of that column using `.mean()`.  
Fill the null values with the mean using `.fillna()`.  
Check once again if there are any null values.

In [7]:
# Your code here

#### Exercise 5
Check if there are any duplicated rows using `.duplicated()`.  
If there are, drop them.  
Check again if there are any duplicates left.

In [8]:
# Your code here

#### Exercise 5
Explore the column `qty`.    
Think about why this column is not usefull to us and then drop it.

In [9]:
# Your code here

#### Exercise 6
There is a small dataset of extra lego sets. Using `pd.concat()` concatinate it with `sets_df` so that `extra_sets` becomes part of `sets_df`.  
Make sure the index stays unique in the end.

In [10]:
url = 'https://drive.google.com/file/d/1neEZwA60mOosscTJjTH9jw2ISbI5K9dw/view?usp=drive_link'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
extra_sets = pd.read_csv(path)
extra_sets

,set_num,name,year,theme_id,num_parts
0,1094-1,Johnny Thunder,1999,297,13.0
1,3642-1,Fire Engine,1985,395,18.0
2,7724-14,Advent Calendar 2008 City (Day 13) Diver and S...,2008,220,1.0
3,264-1,Living Room Set,1974,405,241.0
4,70736-1,Attack of the Morro Dragon,2015,435,655.0
5,8803-0,Minifigure Series 3 [Random Bag],2011,538,0.0
6,71008-4,Snake Charmer,2015,551,7.0
7,3829-1,Fire Nation Ship,2006,317,724.0
8,30108-1,Summer Picnic,2013,494,33.0
9,71001-7,Bumblebee Girl - Complete Set,2013,545,7.0
10,41563-1,Splasho,2016,588,67.0
11,4478-2,Geonosian Fighter Blue Box,2004,167,153.0
12,65579-1,Knights' Kingdom Value Pack 8770 and 8771 with...,2004,198,3.0
13,9491-1,Geonosian Cannon,2012,165,133.0
14,7979-5,Advent Calendar 2008 Castle (Day 4) - White S...,2008,219,7.0
15,1668-1,Basic Building Set Trial Size,1992,469,30.0
16,71237-1,Aquaman and Aqua Watercraft,2016,604,43.0
17,3939-1,Mia's Bedroom,2012,494,86.0
18,5161-1,Inverted Slope Bricks,1987,443,16.0
19,10223-1,Kingdoms Joust,2012,196,1574.0

In [11]:
# Your code here

#### Exercise 8
The Lego set with `set_num` '70905-1' has a strange number of parts.  
Think about what would be the best value to replace the strange one with and then change it.

In [12]:
# Your code here

#### Exercise 9
The Lego set with set_num '1873-1' has a strange value in `year`  
Think about what would be the best value to replace the strange one with and then change it.

In [13]:
# Your code here

### Exercise 10
Organize the Lego sets first by release year and then by theme.      
Reset the index after.

In [14]:
# Your code here

### Exercise 11
It has been decided that theme should be incorporated into the set number.    
Make a new column combining the two and call it `combined_id`. The resulting value should have the form    
`theme_id/set_num`       
The new column should appear on the left of the DataFrame (column index 0). `set_num` and `theme_id` should not appear in the final DataFrame.

In [15]:
# Your code here